[user]
	name = Jordan Rioux
	email = jordan.riouxleclair@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIYc/bf14/t+xTs2TJ0x6XxxxWsIaQmD982UxwOl8Y6o
[init]
	defaultBranch = main
[core]
	editor = code --wait
	excludesfile = /Users/jordy/.gitignore_global
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
