[user]
	name = Jordan Rioux
	email = jordan.riouxleclair@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIYc/bf14/t+xTs2TJ0x6XxxxWsIaQmD982UxwOl8Y6o
[init]
	defaultBranch = main
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	pager = delta
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	syntax-theme = Dracula
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[alias]
	co = checkout
	br = branch
	st = status -sb
	unstage = reset HEAD --
	last = log -1 HEAD
	graph = log --oneline --graph --decorate -20
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
